body {
  font-family: Arial, sans-serif;
  background-color: #eef6f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0;
}

.info h2, .info h3 {
  margin: 0;
  color: #2e7d32;
  font-weight: normal;
}

.container {
  background-color: #fff;
  padding: 10px;
  width: 500px;
  text-align: center;
}

h1 {
   color: #1b5e20;
  font-size: 22px;
}

.shape-box {
  background-color: #f9f9f9;
  border: 1px solid #cce4d6;
   padding: 12px;
   text-align: center;
}

.shape-box h2 {
  color: #2e7d32;
  margin: 0 0 8px 0; /* top 0, bottom 8px */
}

input {
  display: block;
  width: 90%;
  margin: 4px auto 8px auto;
}

button {
  display: inline-block;
  margin: 4px 4px 4px 0;
  padding: 8px 16px;
  background-color: #2e7d32;
  color: white;
}

.result {
  margin-top: 6px;
  color: #333;
  background-color: #62aca7;
  padding: 6px;

}
