body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #63ddf0; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 30px;
}

